<%-include("partials/header.ejs") %>

 
 <section class="landing">
 <p>

  Hi !!  I am Mohini ,
    and I like writing my thoughts here sometimes .<br>
    If you wanna read all of them, head over to  <a href="/Logs" style="color: #4a423cc5;">   Logs </a> 😊

 </p>
  <br>


</section>


<section id="card">
  <h2>RECENT POSTS</h2>

        <% posts.forEach(post => { %>
                <div class="card1">
                  <a href="card<%= post.numerical_id %>">
                    <img src="<%= post.imageUrl %>" alt="">
                  </a>
                  <div>
                  <h2><%= post.title %></h2>
                  <span style="color:#919186"> <p>
                    <%= post.paragraph%>
                    <br>
                    <br>
                    <a href="card<%= post.numerical_id %>">
                      <span style= "font-size: larger;">Read more .....</span></a> 
               </p>
           </span>  
                </div>
                  </div>
          <% }) %>





 </section>
<%-include("partials/footer.ejs") %>